<div class="container">
    <div class="row">
        <div class="col-md-2">

        </div>
        <div class="col-md-8">
            <div class="card mt-5">
                <div class="card-header">
                    <div class="card-title text-center display-5">Reset Password</div>
                </div>
                <div class="card-body">
                    <form  #formRef="ngForm" (ngSubmit)="onSubmit(formRef)" >
            
          
                        <div class="form-group pb-2">
                            <label for="un" ></label>
                            <input type="text" class="form-control" id="un" name="username" placeholder="Username"ngModel>
                        </div>
                        <div class="form-group pb-2">
                            <label for="pwd" class="form-label"></label>
                            <input type="password" class="form-control" id="pwd" name="newpassword" placeholder="New password" ngModel>
                        </div>          
                      
                        <div class="form-group pb-2">
                            <label for="cpwd" class="form-label"></label>
                            <input type="password" class="form-control" id="cpwd" name="confirmpassword" placeholder="Confirm Password" ngModel>
                        </div>  

                        <div class="col-12 text-center">
                            <button type="submit" class="btn btn-primary mt-3" >Update Password</button>
                        </div>
                        
                    </form>
                    <h6 class="text-center text-danger mt-3" *ngIf="status">Passwords not matched</h6>
                </div>
            </div>
        </div>
        <div class="col-md-2">

        </div>
    </div>
</div>